<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Manage.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <style>
        #nd {
            font-size: 23px;
        }
    </style>
</head>
<body>
    <div class="bs_header ">
        <nav class="navbar navbar-expand-sm bg-white navbar-light">
            <div class="container-fluid">
                <a href="~/Admin/Index" class="navbar-brand"><img class="navbar-brand" src="~/Image/LogoLeaf.png" alt="Alternate Text" /></a>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav nav-pills">
                        <li class="nav-item col-lg-4 col-3">
                            <a id="nd" class="nav-link" href="~/Products/Index"><b>Quản lí sản phẩm</b></a>
                        </li>
                        <li class="nav-item col-lg-4 col-3">
                            <a id="nd" class="nav-link" href="~/Categories/Index"><b>Quản lí Thể loại</b></a>
                        </li>
                        <li class="nav-item col-lg-4 col-3">
                            <a id="nd" class="nav-link" href="~/Users/ListAccount"><b>Quản lí tài khoản</b></a>
                        </li>
                        @if (Session["AdminName"] == null)
                        {
                            <li class="nav-link dropdown col-lg-4 col-3">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="~/Users/Login">Tài khoản</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="~/Users/Login">Đăng nhập</a></li>
                                    <li><a class="dropdown-item" href="~/Users/Register">Đăng kí</a></li>
                                </ul>
                            </li>


                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">@Session["AdminName"]</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="~/Users/Logout">Đăng xuất</a></li>
                                </ul>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>

    </div>
    <div class="bs_content">
        @RenderBody()
    </div>
    <div class="bs_footer" style="padding: 0 10% 0 10%">
        <table class="table table-borderless">
            <tr>
                <th>
                    <b>Hỗ trợ khách hàng</b>
                </th>
                <td>
                    <b>Giới thiệu</b>
                </td>
                <td>
                    <b>Tài khoản</b>
                </td>
            </tr>
            <tr>
                <td>Email: nguyenkhangxxx@gmail.com</td>
                <td>Thông tin về LeafStore</td>
                <td><a href="~/Users/Login">Đăng nhập</a></>
            </tr>
            <tr>
                <td>Địa chỉ: xx/xx Trình Đình Trọng, phường Phú Trung, quận Tân Phú, tp HCM </td>
                <td>Tuyển dụng</td>
                <td><a href="~/Users/Register">Đăng kí</a></td>
            </tr>
            <tr>
                <td>Hotline: 09095678</td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
    <h6 style="text-align:center">Copyright © 2022. Bản quyền website LeafStore</h6>
</body>
</html>
