<a href="@Url.Action("GetCartInfo","Cart")" style="text-decoration:none;color:orangered;font-weight:bold ">
    <span style="font-size:25px" class="ti-shopping-cart"><span style="font-size:15px">(@ViewBag.TotalNumber)</span></span>
</a>
