@model LeafStore.Models.Customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <style>
        #titleLogin {
            padding-left:35%;    
        }
        #inputLogin {
            width: 30%;
            border-radius: 20px;
            margin-left:35%;
        }
    </style>
</head>
<div style="margin: 10px auto; width: 70%;" >
    <h2 style="text-align: center; padding-top: 30px">Đăng nhập</h2>
    <h4 style="color:red; text-align:center">@ViewBag.ThongBao</h4>
    
        @using (Html.BeginForm("login", "Users"))
        {
            @Html.ValidationSummary(true)

            <div class="mb-3 mt-3">
                <label id="titleLogin" for="name" class="form-label">Tên đăng nhập:</label>
                <input  type="text" class="form-control" id="inputLogin" name="AccountCus" required>
            </div>
            <div class="mb-3">
                <label id="titleLogin" for="pwd" class="form-label">Mật khẩu:</label>
                <input  type="password" class="form-control" id="inputLogin" name="PasswordCus" required>
            </div>
            <div style="text-align:center" class="mb-3">
                Bạn chưa có tài khoản sao ?
                <span>@Html.ActionLink("Đăng kí", "Register", "Users")</span>

            </div>

            <input style=" margin-left:45%;" type="submit" name="login" value="Đăng nhập" class="btn btn-primary " />

        }
   
</div>
